*{
    margin: 0;
    padding: 0;
}
h2{
    margin-bottom: 40px;
}

a:link {
    text-decoration:none;
}
a:visited {
    color:black;
}
a:hover {
    color:rgba(45, 21, 202, 0.514);
}

header {
    display: block;
    padding: 50px;
    text-align: left;
    padding-bottom: 30px;
}

nav{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    padding-top:15px;
    padding-bottom:15px;
    background-color: rgba(233, 225, 225, 0.897);
}

nav > a{
    padding:5px;
    text-decoration : none;
    color: inherit;
    font-weight: bolder;
    font-size: 15px;
}

.container {
    display: flex;
    height: 500px;
    padding-top: 20px;
}

article{
    flex: 7;
    padding: 30px;
    padding-left: 60px;
}

aside{
    background:gray;
    flex: 3;
    padding: 30px;
}

.myimg{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 50%;
}

.p {
    height:40px;
}
#thh {
    width:150px;
}
#name {
    width:350px;
}
td {
    text-align: center;
}

tr {
    border-bottom: solid black;
}

#na {
    font-weight: lighter;
    font-size: 17px;
}

#qw {
    font-weight: lighter;
    font-size: 22px;
    color:darkgray;
}